body{
  padding: 10px;
  font-size: 18px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hidden{ display: none; }


#login-form{
  margin-left: 180px;
}

#login-form>fieldset{
  width: fit-content;
  padding: 10px 20px;
  border: unset;
}
#login-form legend{
  background-color: rgb(194, 205, 187);
  color: white;
  font-size: 0.8em;
  border-radius: 0.6em;
  padding: 5px 7px;
}

#sayHello{
  font-weight: bold;
  font-size: 2.0rem;
  color: rgb(230, 233, 219);
  line-height: 1em;
  margin-left: 180px;
}

button.delete{
  all:unset;
  background-color: rgb(243, 245, 236);
  padding: 2px;
  color: rgb(122, 115, 115);
  font-size: 1.0rem;
  border-radius: 0.2rem;
  margin-left: 10px;
  box-shadow: 2px 2px 6px rgb(4, 55, 12);
  cursor: pointer;
}

#clock{
  margin-left: 25px;
  text-align: center;
  font-weight: 400;
  color: rgb(52, 59, 41);
  background-color: whitesmoke;
  width: fit-content;
  padding: 5px 8px;
  border-radius: 2em;
}

div#quote{
  position: absolute;
  bottom: 30px;
  padding: 10px;
  color:rgb(204, 201, 227);
  font-size: 1.2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


h2#todo-title{
  color: whitesmoke;
  font-weight: 500;
  margin: 5px;
  line-height: 1em;
}

#todo-list{
  color: rgb(7, 3, 40);
  background: rgba(249, 247, 247, 0.3);
  width: fit-content;
  padding: 10px;
  margin-top: 12px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#todo-list li{
  display: block;
}

#todo-list li button{
  all: unset;
  cursor: pointer;
  margin-left: 10px;
}